<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838524686178-0v67qg69ttskkjk6o60dnj8vpsvduj24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838524686178-0v67qg69ttskkjk6o60dnj8vpsvduj24</string>
	<key>API_KEY</key>
	<string>AIzaSyA0quaN1G9CPeP-BkFqO1sAnxr3TlfGiZI</string>
	<key>GCM_SENDER_ID</key>
	<string>838524686178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>e-shop-1b63f</string>
	<key>STORAGE_BUCKET</key>
	<string>e-shop-1b63f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838524686178:ios:e3aea4eacccad7c039a63b</string>
</dict>
</plist>